# Dependencies
node_modules/

# Environment variables (TRÈS IMPORTANT)
.env
.env.local
.env.*.local

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database local
*.db
*.sqlite